stadiums/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ssdi.di.fct.unl.pt/ctxml/soccerLeague" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xxl="http://ssdi.di.fct.unl.pt/ctxml/soccerLeague"
    targetNamespace="http://ssdi.di.fct.unl.pt/ctxml/soccerLeague" elementFormDefault="qualified" >
    <xs:annotation>
        <xs:appinfo>CTXML Lab 1</xs:appinfo>
        <xs:documentation xml:lang="en">
            Authors: Bruno Palma | No. 42003
            Pawel Krysiak | No. 44778
            XML Schema for SocccerLeague
        </xs:documentation>
    </xs:annotation>
    <xs:element name="soccerLeague">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="players">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="player" minOccurs ="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nick" type="xs:string"></xs:element>
                                        <xs:element name="nationality" type="xs:string"></xs:element>
                                        <xs:element name="birthDate" type="xs:date"></xs:element>
                                        <xs:element name="awards">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="award" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="playedClubs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="playedClub" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="clubref" type="xs:NCName" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:NCName" use="required"/>
                                    <xs:attribute name="position" type="playersPositions" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="playerID"> 
                        <xs:selector xpath="xxl:player"/> 
                        <xs:field xpath="@id"/> 
                    </xs:key>
                </xs:element>
                <xs:element name="clubs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="club" minOccurs ="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="acronym" type="xs:string"></xs:element>
                                        <xs:element name="city" type="xs:string"></xs:element>
                                        <xs:element name="stadium" type="xs:string"></xs:element>
                                        
                                        <xs:element name="ranks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="rank" maxOccurs="unbounded" >
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="year" type="xs:string" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>                                                    
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"></xs:element>
                                        <xs:element name="webLink" type="xs:string"></xs:element>
                                        <xs:element name="teamPlayers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="teamPlayer" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="playedPosition" type="playersPositions" use="required"/>
                                                                    <xs:attribute name="id" type="xs:NCName" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>                                                            
                                                        </xs:complexType>                                                        
                                                    </xs:element>
                                                </xs:sequence>                                                
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:NCName" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="clubID">
                        <xs:selector xpath="xxl:club"/>
                        <xs:field xpath="@id"/>
                    </xs:key>
                </xs:element>                
                <xs:element name="games">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="game" minOccurs ="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="location" type="xs:string"></xs:element>
                                        <xs:element name="spectatorsNumber" type="xs:integer"></xs:element>
                                        <xs:element name="result">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="goals" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="clubId" type="xs:NCName" use="required"></xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="initialPlayers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="initialPlayer"  minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="playerId" type="xs:NCName" use="required"/>
                                                            <xs:attribute name="plClubId" type="xs:NCName" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="substitutions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="substitution" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="playerId" type="xs:NCName" use="required"/>
                                                            <xs:attribute name="substitutedPlayerId" type="xs:NCName" use="required"/>
                                                            <xs:attribute name="clubId" type="xs:NCName" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="scoringPlayers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="scoringPlayer" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="playerId" type="xs:NCName" use="required"/>
                                                            <xs:attribute name="clubId" type="xs:NCName" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:NCName" use="required"/>
                                    <xs:attribute name="firstTeam" type="xs:NCName" use="required"/>
                                    <xs:attribute name="secondTeam" type="xs:NCName" use="required"/>
                                    <xs:attribute name="week" type="xs:NCName" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="gameID">
                        <xs:selector xpath="xxl:game"/>
                        <xs:field xpath="@id"/>
                    </xs:key>
                </xs:element>
                <xs:element name="stats"></xs:element>            
            </xs:sequence> 
            <xs:attribute name="id" type="xs:NCName" use="required"/>
        </xs:complexType>
        
        <xs:key name="leagueID"> 
            <xs:selector xpath="."/> 
            <xs:field xpath="@id"/> 
        </xs:key>
        
        <xs:keyref name="playerRef" refer="xxl:playerID">
            <xs:selector xpath="./xxl:clubs/xxl:club/xxl:teamPlayers/xxl:teamPlayer"/> 
            <xs:field xpath="@id"/> 
        </xs:keyref>
        
        <xs:keyref name="initialPlayerRef" refer="playerID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:initialPlayers/xxl:initialPlayer"/> 
            <xs:field xpath="@playerId"/> 
        </xs:keyref>
        
        <!-- substitution -->
        
        <xs:keyref name="substitutionPlayerRef" refer="playerID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:substitutions/xxl:substitution"/> 
            <xs:field xpath="@playerId"/> 
        </xs:keyref>
        
        <xs:keyref name="substitutionPlayerRef1" refer="playerID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:substitutions/xxl:substitution"/> 
            <xs:field xpath="@substitutedPlayerId"/> 
        </xs:keyref>
        
        <xs:keyref name="subClId" refer="clubID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:substitutions/xxl:substitution"/> 
            <xs:field xpath="@clubId"/> 
        </xs:keyref>
        
        <!-- scoringPlayer -->
        <xs:keyref name="scoringPlayerRef" refer="playerID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:scoringPlayers/xxl:scoringPlayer"/> 
            <xs:field xpath="@playerId"/> 
        </xs:keyref>
        
        <xs:keyref name="scoringClubRef" refer="clubID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:scoringPlayers/xxl:scoringPlayer"/> 
            <xs:field xpath="@clubId"/> 
        </xs:keyref>
        
        <!-- goals -->
        
        <xs:keyref name="goalsClubRef" refer="clubID"> 
            <xs:selector xpath="./xxl:games/xxl:game/xxl:result/xxl:goals"/> 
            <xs:field xpath="@clubId"/> 
        </xs:keyref>
    </xs:element>    
    
    
    <xs:simpleType name="playersPositions">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Medio" />
            <xs:enumeration value="Defesa" />
            <xs:enumeration value="GuardaRedes" />
            <xs:enumeration value="Avancado" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>